




li { margin-bottom: 0.75rem; }


 /* * A better looking default horizontal rule */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #CCC;
    margin: 1em 0;
    padding: 0;
}




figure {
    margin: 0;
}

figure img {
    max-width: 100%;
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
}






/* Main Typography */

html { font-family: "Lora", serif; text-rendering: optimizelegibility; }

body { line-height: 1.5em; font-size: 1.125rem; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

#postamble { text-align: right; }



/* Layout */



html, body { margin: 0px }

@media only screen and (min-width: 1000px) {

    body { display:  grid;
	   grid-template-columns:  80px 1fr 960px 1fr 80px;
	   grid-template-rows:  80px 40px 1fr 80px;
	   grid-template-areas: "preamble preamble preamble preamble preamble"
				" . . . . ."
				"sidebar . content . ."
				"sidebar . postamble . ."; }

    #preamble {	grid-area: preamble; background-color: teal; color: teal; padding: 20px; }

    #content { grid-area: content; }

    #postamble { grid-area: postamble; }
}



/* Code Typography */

pre, code { font-family: Menlo,monospace; }

pre { font-size:  80%; line-height: 1.1rem; margin:  0 0 24px;
      max-width:  100%; overflow:  auto;
      padding:  10px; background-color:  #f4f4f4;
      border-radius:  8px; border:  4px solid #f4f4f4; }

.code-highlighted { background-color: #ffff00; }



/* Copy to Clipboard Typography */

.copy-btn { float: right; }

button:not(.pseudoLabel) { position: relative;
			   background-color: #CCC; color:  black;
			   border:  none; border-radius:  4px;
			   top: 0px; right: 0px; padding: 10px; }

button:not(.pseudoLabel):hover { display: inline; background-color: darkgray; color: black; }

button:not(.pseudoLabel):focus { outline: 0; }

button:not(.pseudoLabel):active { transform: scale(0.95); }



/* Table Typography */

table { border-collapse: collapse; display: block; overflow-x: auto; }

caption.t-above { caption-side: top; }

caption.t-bottom { caption-side: bottom; }

td, th { vertical-align: top; border: 1px solid #CCC; padding: 0.5em; }

th.right { text-align: center; }

th.left { text-align: center; }

th.center { text-align: center; }

td.right { text-align: right; }

td.left { text-align: left; }

td.center { text-align: center; }
