
@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'STIX Two Text';
    src: url('/fonts/STIXTwoText-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Custom Mono';
    src: url('/fonts/Courier.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


html,button,input,select,textarea {
    color: black;
}

html {
    font-size:  100%;
    line-height: 1.4;
    background-color:  #f6f6e0; /*F5F5DC is biege */
}

body {
    font-family: 'STIX Two Text', 'Custom Mono';
    margin: 0 auto;
    display:  grid;
    grid-template-columns:  1fr 400px 400px 1fr;
    grid-template-rows:  80px 20px 1fr 80px;
    grid-template-areas:
    "empty-left logo org-div-home-and-up empty-right"
    ". . . ."
    ". content content ."
    ". postamble postamble .";
}

body::before {
    content: "";
    grid-area: empty-left;
    background-color: black;

}

body::after {
    content: "";
    grid-area: empty-right;
    background-color: black;

}

#preamble {
    grid-area: logo;
    background-color:  black;
    color:  white;
    font-family:  sans-serif;
    font-size:  2em;
    line-height:  80px;
    font-weight:  bold;
}


#org-div-home-and-up {
    text-align: right;
    font-size: 85%;
    white-space: nowrap;
    grid-area: org-div-home-and-up;
    background-color: black;
    font-family: sans-serif;
    color:  white;
    line-height:  80px;
}

#preamble a, #org-div-home-and-up a {
    color:  white;
}

#preamble a:hover, #org-div-home-and-up a:hover {
    color: white;
    text-decoration:  underline;
}

#preamble a:visited, #org-div-home-and-up a:visited {
    color:  white;
}

#postamble {
    grid-area:  postamble;
}

a {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-wrap: break-word;
    text-decoration: none;
    color:  #0000EE
}

a:hover {
        text-decoration: underline;
}

content a:visited {
    color:  #0000EE !important;
}

pre {
    font-family: 'Custom Mono', monospace;
    font-size:  90%;
    line-height:  1.4;
    margin:  0 0 24px;
    max-width:  100%;
    overflow:  auto;
    padding:  24px;
    /* background-color:  #f4f4f4;
    border-radius:  8px;
    border:  4px solid #f4f4f4; */
 }

 code {
    color:  brown;
    font-family:  inherit;
 }

 li {
    margin-bottom: 0.75rem;
 }


/* * A better looking default horizontal rule */hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #CCC;
    margin: 1em 0;
    padding: 0;
}

audio,canvas,img,video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


.todo,.done,.tag {
    font-family: "Source Pro", Monaco, "Courier New", monospace;
    padding: 0 0.3em;
    background-color: #EEE;
    border: 1px solid #CCC;
}

.todo {
    color: #DD4433;
}

.done {
    color: #44934B;
}

.tag {
    font-size: 80%;
    font-weight: normal;
    margin: 0 0.3em;
    display: none;
}

.timestamp {
    color: #BEBEBE;
}

.timestamp-kwd {
    color: #5F9EA0;
}

.right {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

.left {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

#postamble p,#preamble p {
    font-size: 85%;
    margin: .2em;
}


pre.src {
    position: relative;
}

pre.src:before {
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 0.5em;
    right: 0.5em;
    padding: 4px;
    border: 1px solid #CCC;
}

table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

caption.t-above {
    caption-side: top;
}

caption.t-bottom {
    caption-side: bottom;
}

td, th {
    vertical-align: top;
    border: 1px solid #CCC;
    padding: 0.5em;
}

th.right {
    text-align: center;
}

th.left {
    text-align: center;
}

th.center {
    text-align: center;
}

td.right {
    text-align: right;
}

td.left {
    text-align: left;
}

td.center {
    text-align: center;
}

dt {
    font-weight: bold;
}

#footnotes {
    border-top: 5px solid #0A4C89;
    margin-bottom: 5em;
}

#footnotes h2 {
    display: none;
}

#text-footnotes {
    margin-top: 1em;
}

.footpara:nth-child(2) {
    display: inline;
}

.footpara {
    display: block;
}

.footdef sup:before {
    content: "[";
}

.footdef sup:after {
    content: "]";
}

.footdef p {
    display: inline;
}

figure {
    margin: 0;
}

figure img {
    max-width: 100%;
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
}

.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}


textarea {
    overflow-x: auto;
}

.linenr {
    font-size: smaller;
}

.code-highlighted {
    background-color: #ffff00;
}

.org-info-js_info-navigation {
    border-style: none;
}

#org-info-js_console-label {
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
}

.org-info-js_search-highlight {
    background-color: #ffff00;
    color: #000000;
    font-weight: bold;
}

p.verse,blockquote {
    margin: 0;
    padding: 0;
    padding-left: 3%;
    border-left: 5px solid #0A4C89;
}


h2 {
    line-height: 1.62em;
}

.title {
    margin: 0 0 1em 0;
    line-height: 2em;
    border-bottom: 6px solid #0A4C89;
    text-align: left;
}

#postamble {
    line-height: 1.4em;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: #222;
}

.outline-2 {
    margin-bottom: 4em;
}

.outline-2 h2 {
    border-bottom: 1px solid #CCC;
}

#table-of-contents {
    display: none;
    margin-left: 0.5em;
}

#text-table-of-contents ul {
    padding-left: 1.8em;
}

#text-table-of-contents li {
    list-style-type: circle;
    margin: 0.4em 0;
}

#text-table-of-contents ul ul {
    margin: 0;
}

#text-table-of-contents li li {
    font-weight: normal;
    font-size: 90%;
    margin: 0;
}

#content {
    overflow: hidden;
    grid-area:  content;
}



@media print {
    * {
        background: transparent !important;
        color: #000 !important;
    /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }  /*   * Don't show links for images, or javascript/internal links   */

    .ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
    content: ""; }

pre,  blockquote {
    /* border: 1px solid #999; */
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
    /* h5bp.com/t */;
}

tr,  img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,  h2,  h3 {
    orphans: 3;
    widows: 3;
}

h2,  h3 {
    page-break-after: avoid;
}

#table-of-contents {
    display: block;
    width: initial;
    border: none;
}

#table-of-contents a {
    text-decoration: none;
}
}

/* large screen */
@media screen and (min-width: 40rem) {
    html {
        font-size: 100%;
    }

    #table-of-contents {
        display: block;
        padding: 1em;
        width: 32%;
        min-width: 18em;
        float: right;
        background-color: #EEE;
        position: relative;
    /* required by z-index */
        z-index: 5000;
        border: 1px solid #CCC;
    }

    .tag {
        display: initial;
    }
}


/* Code Typography */

.copy-btn { float: right; }

button:not(.pseudoLabel) {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:not(.pseudoLabel) {
    position: absolute;
    background-color: #CCC;
    color:  black;
    border:  none;
    border-radius:  4px;
    padding: 2px;
    top: 10px;
    right: 10px;
    padding: 10px;
  }

button:not(.pseudoLabel):hover { 
    display: inline; 
    background-color: darkgray;
    color: black;
}

button:not(.pseudoLabel):focus {
    outline: 0;
    /* outline-offset: -4px; */
}

button:not(.pseudoLabel):active {
    transform: scale(0.95);
}

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
